<link rel="stylesheet" href="/css/Bienvenida.css">

<body>
  <div class="user-info">
    <h1>Bienvenido, estos son sus datos:</h1>
    <h2>Nombre de usuario: @ViewBag.Usuario.UserName</h2>
    <h2>Nombre: @ViewBag.Usuario.Nombre</h2>
    <h2>Email: @ViewBag.Usuario.Email</h2>
    <h2>Teléfono: @ViewBag.Usuario.Telefono</h2>
  </div>
</body>